<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>各类带异步处理的按钮</title>
  <link rel="stylesheet" type="text/css" href="http://127.0.0.1:3333/nb-component/build/nb-component.css">
  <script src="http://127.0.0.1:3333/nb-component/build/nb-component.js"></script>
  <style type="text/css">
    html {
      font-size: 37.5px;
    }

    body {
      width: 10rem;
      min-height: 100vh;
    }

    .demo {
      font-size: .46rem;
    }
  </style>
</head>

<body>
  <div class="demo">
    <div style="text-align: center">
      <nb-button-async>
        <div style="font-size: .46rem">保存二维码</div>
      </nb-button-async>
    </div>

    <br>

    <nb-button-async width="750" disable>
      <div style="font-size: .46rem">保存二维码</div>
    </nb-button-async>

    <br> <br>

    <nb-button-async class="follow" width="180" height="64" color="#3E86F7" bg="#ffffff">
      <div style="font-size: .32rem">关注</div>
    </nb-button-async>

    <br> <br>

    <nb-button-async no-border class="verify" countdown-id="demo" countdown-html="%ns重新获取" countdown="3" width="200" height="64" color="#3E86F7" bg="#ffffff">
      <div class="origin" style="font-size: .32rem">
        发送验证码
      </div>
      <div class="countdown" style="font-size: .32rem">
      </div>
    </nb-button-async>

  </div>

  <script>
    let el = document.querySelector('nb-button-async');
    let follow = document.querySelector('.follow');
    let verify = document.querySelector('.verify');
    el.addEventListener('tap', ({ detail }) => {
      console.log(el.loading);
      // 模拟处理完异步后
      setTimeout(() => {
        detail.done();
        console.log(el.loading);
      }, 1000);
    });
    follow.addEventListener('tap', ({ detail }) => {
      follow.querySelector('div').innerHTML = '关注中';
      setTimeout(() => {
        detail.done();
        follow.color = "#fff";
        follow.bg = "#3E86F7";
        follow.querySelector('div').innerHTML = '已关注';
      }, 1000);
    });
    verify.addEventListener('count', ({ detail }) => {
      if (detail.status === 'start') {
        verify.querySelector('div').style.color =  '#999';
        
      } else {
        verify.querySelector('div').style.color =  '#3E86F7';
      }
    });
    setTimeout(() => {
      verify.handleClick();
    }, 100);
  </script>
</body>

</html>