.item-node {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  top:10%
}

ul, ol, li {
  list-style: none;
}

.item-info {
  padding-left: 30px
  //border-left 2Px solid #ccc
}

.item-tail {
  position: absolute;
  left: 4px;
  height: 100%;
  top:10%;
  border-left: 2px solid #e4e7ed;
}

.timeline-item-container {
  position: relative;
}

.item-shadow {
  box-shadow:2px 2px 5px;
  box-shadow-color:#000
}
